%h1.page-header Dashboard
.row.placeholders
  .col-xs-6.col-sm-3.placeholder
    %img.img-responsive{:alt => "Generic placeholder thumbnail", "data-src" => "holder.js/200x200/auto/sky"}
      %h4 Label
      %span.text-muted Something else
  .col-xs-6.col-sm-3.placeholder
    %img.img-responsive{:alt => "Generic placeholder thumbnail", "data-src" => "holder.js/200x200/auto/vine"}
      %h4 Label
      %span.text-muted Something else
  .col-xs-6.col-sm-3.placeholder
    %img.img-responsive{:alt => "Generic placeholder thumbnail", "data-src" => "holder.js/200x200/auto/sky"}
      %h4 Label
      %span.text-muted Something else
  .col-xs-6.col-sm-3.placeholder
    %img.img-responsive{:alt => "Generic placeholder thumbnail", "data-src" => "holder.js/200x200/auto/vine"}
      %h4 Label
      %span.text-muted Something else
%h2.sub-header Section title