.container-fluid
  .row
    .col-sm-3.col-md-2.sidebar
      %br
      %h4 Hello, #{current_user.name} !
      %ul.nav.nav-sidebar
        %li.active
          %a{:href => "#"}
            %span.glyphicon.glyphicon-home
            Dashboard
            %span.sr-only (current)
        %li.active
          %a{:href => "#"}
            %span.glyphicon.glyphicon-home
            Feeds
        %li
          = link_to 'Map', preview_map_static_pages_path,  :remote => true
        %li
          = link_to 'Stats', preview_stats_static_pages_path,  :remote => true
        %li
          %a{"data-target" => "#new_post", "data-toggle" => "modal", :type => "button"} 
            %span.glyphicon.glyphicon-plus
            New Post
    .col-sm-4.col-md-10
      #dashboard_preview
        /= render 'map/map'
        /= render 'stats/stats'    
    .col-sm-9.col-sm-offset-3.col-md-10.col-md-offset-2.main
      %h1.page-header Dashboard
      .row.placeholders
        .col-xs-6.col-sm-3.placeholder
          %img.img-responsive{:alt => "Generic placeholder thumbnail", "data-src" => "holder.js/200x200/auto/sky"}
            %h4 Label
            %span.text-muted Something else
        .col-xs-6.col-sm-3.placeholder
          %img.img-responsive{:alt => "Generic placeholder thumbnail", "data-src" => "holder.js/200x200/auto/vine"}
            %h4 Label
            %span.text-muted Something else
        .col-xs-6.col-sm-3.placeholder
          %img.img-responsive{:alt => "Generic placeholder thumbnail", "data-src" => "holder.js/200x200/auto/sky"}
            %h4 Label
            %span.text-muted Something else
        .col-xs-6.col-sm-3.placeholder
          %img.img-responsive{:alt => "Generic placeholder thumbnail", "data-src" => "holder.js/200x200/auto/vine"}
            %h4 Label
            %span.text-muted Something else
      %h2.sub-header Section title


#new_post.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "logIn", :role => "dialog", :tabindex => "-1"}
  .modal-dialog
    .modal-content
      .modal-header
        %button.close{"data-dismiss" => "modal", :type => "button"}
          %span{"aria-hidden" => "true"} ×
          %span.sr-only Close
        %h4#myModalLabel.modal-title New Post
      .modal-body
        = render 'post/new'
