%section#intro
  .container
    %nav.navbar{:role => "navigation"}
      .container-fluid
        / Brand and toggle get grouped for better mobile display
        .navbar-header
          %button.navbar-toggle.collapsed{"data-target" => "#bs-example-navbar-collapse-1", "data-toggle" => "collapse", :type => "button"}
            %span.sr-only Toggle navigation
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
          .navbar-brand{:href => "#"}
            %img{:height => "50", :src => image_path("logo-nav.png")}/
      / /.container-fluid
  %img{:alt => "logo", :src => image_path("logo-landing.png")}/
  %h1 
    One stop Portal 
    for Sharing
  %p.lead
    Some people want to share, the others need helps.
    %br
    ChariHub connects them. 
  %button.btn.btn-warning.btn-lg{"data-target" => "#signIn", "data-toggle" => "modal", :type => "button"} Join now
  %p.small
    or
    %a{:href => "#"} Sign in

/ Modal
#signIn.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "joinNow", :role => "dialog", :tabindex => "-1"}
  .modal-dialog
    .modal-content
      .modal-header
        %button.close{"data-dismiss" => "modal", :type => "button"}
          %span{"aria-hidden" => "true"} ×
          %span.sr-only Close
        %h4#myModalLabel.modal-title Join now!
      .modal-body
        = render 'user/registrations/new'

%section#intro-feature.text-center
  .container
    %h1 Imagine we can help each other
    .row
      .col-md-4
        %img{:alt => "logo", :src => "holder.js/200x200"}/
        %h2 Place for sharing
        %p.lead Help can come from anywhere, but sometimes you don't know how to find it. Imagine where we can share our difficulties and find someone that can help us.
        %button.btn.btn-warning Learn more &raquo;
      .col-md-4
        %img{:alt => "logo", :src => "holder.js/200x200"}/
        %h2 Place for finding help
        %p.lead Help can come from anywhere, but sometimes you don't know how to find it. Imagine where we can share our difficulties and find someone that can help us.
        %button.btn.btn-warning Learn more &raquo;
      .col-md-4
        %img{:alt => "logo", :src => "holder.js/200x200"}/
        %h2 Know the world
        %p.lead Help can come from anywhere, but sometimes you don't know how to find it. Imagine where we can share our difficulties and find someone that can help us.
        %button.btn.btn-warning Learn more &raquo;

.container
  %hr

%section#share
  .container
    %h1.text-center
      %span.text-primary Share if you have more
      %small or
      %span.text-danger Ask for help.
    .row
      .col-md-6
        .panel.panel-primary
          .panel-body.lead
            I have extra 100kg of rice after big ceremony at my house. Anyone who know where I should grand this rice, please contact me.
          .panel-footer
            %a{:href => "#"} Annie
            shares her
            %span.label.label-primary Food
            on Saturday, December 6, 2014
        .panel.panel-primary
          .panel-body.lead
            I want to grand my bonus salary this year to charity. Where is the place that urgently need?
          .panel-footer
            %a{:href => "#"} Joey
            shares her
            %span.label.label-primary Money
            on Saturday, December 6, 2014
        .text-center
          %button.btn.btn-lg.btn-primary See all 39 donors
      / /col-md-6
      .col-md-6
        .panel.panel-danger
          .panel-body.lead
            My people in Desa Terpencil needs medicine.
          .panel-footer
            %a.text-danger{:href => "#"} Annie
            needs
            %span.label.label-danger Medicine
            on Saturday, December 6, 2014
        .panel.panel-danger
          .panel-body.lead
            Need help to renovate local orphanage.
          .panel-footer
            %a.text-danger{:href => "#"} Joey
            needs
            %span.label.label-danger Money
            on Saturday, December 6, 2014
        .text-center
          %button.btn.btn-lg.btn-danger See all 39 needs
      / /col-md-6