h1{
	margin-bottom: 20px;
	color: #1e824c;
	font-size: 42px;
}
.navbar{margin-bottom: 0;}
.navbar-static-top{
	background: #10631A;
	border-bottom: 1px solid #004208;
}
.navbar-brand{
	font-weight: bold;
	color: #10631A !important;
	padding-top: 10px !important;
}
.navbar form{margin-top: 8px;}
.navbar .container-fluid .navbar-right {margin-right: 20px;}

section{
	min-height: 100vh;
	width: 100%;	
}

p.intro{
	margin: 20px auto;
	width: 50%;
	font-size: 18px;
}

#intro, #intro-slide{text-align: center;color: #f0f0f0;}

#intro {
	background: #1e824c;
	padding: 50px 100px;
}
#intro nav{margin-bottom:  50px;}
#intro h1 {color: inherit;}

#intro a{
	color: #FFCA87;
}
#intro a:hover{
	color: #F5AF56;
}

#intro-feature {
	padding: 50px 0 100px;
}
#intro-feature h1{
	margin-bottom: 40px;
}

#share{
	padding: 50px 0 100px; 
}
#share .panel{
	margin-bottom: 30px;
}
#share.panel-body.lead{
	margin-bottom: 0;
}
.center-abs{
	margin-left: auto;
	margin-right: auto;
	left: 0;
	right: 0;
	position: absolute;
}

footer#mainFooter{
	margin: 20px 0;
}