h1{margin-bottom: 20px;}
.navbar{margin-bottom: 0;}
.navbar-brand{
	font-weight: bold;
	color: #10631A !important;
}

section{
	min-height: 100vh;
	width: 100%;
	padding:100px 0;
	
}

section p{
	margin: 20px auto;
	width: 50%;
	font-size: 18px;
}

#intro, #intro-slide{text-align: center;color: #f0f0f0;}
#intro {
	background: #52A55C;
}

#intro a{
	color: #FFCA87;
}
#intro a:hover{
	color: #F5AF56;
}

#intro-slide {
	background: #00A08D;
}
#intro-carousel{
	width: 800px;
	height: 400px;
	margin: 0 auto;
}

#share .panel{
	margin-bottom: 30px;
}
.panel-body.lead{
	margin-bottom: 0;
}
.center-abs{
	margin-left: auto;
	margin-right: auto;
	left: 0;
	right: 0;
	position: absolute;
}
#startShare{}
footer#mainFooter{
	margin: 20px 0;
}