.navbar{margin-bottom: 0;}
.navbar-brand{
	font-weight: bold;
	color: #00A08D !important;
}

section{
	min-height: 90vh;
	width: 100%;
	padding:100px 0;
	color: #f0f0f0;
}

section p{
	margin: 10px auto;
	width: 50%;
	font-size: 18px;
}

#intro, #section2, #intro-slide{text-align: center;}
#intro {
	background: #10486D;
}

#intro a{
	color: #FFCA87;
}
#intro a:hover{
	color: #F5AF56;
}

#section2{
	background: #00A08D;
}
#intro-slide {
	background: #555;
}
#intro-carousel{
	width: 800px;
	height: 400px;
	margin: 0 auto;
}

footer#mainFooter{
	margin: 20px 0;
}