%nav.navbar.navbar-static-top{:role => "navigation"}
  .container-fluid
    / Brand and toggle get grouped for better mobile display
    .navbar-header
      %button.navbar-toggle.collapsed{"data-target" => "#bs-example-navbar-collapse-1", "data-toggle" => "collapse", :type => "button"}
        %span.sr-only Toggle navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      .navbar-brand
        %a{:href => root_path} 
          %img{:src => image_path("logo-landing.png"), :height => "35"}
    / Collect the nav links, forms, and other content for toggling
    #bs-example-navbar-collapse-1.collapse.navbar-collapse
      .navbar-left.col-md-5
        %form{:role => "search"}
          .input-group
            %input.form-control{:placeholder => "Find people, need, help, or location", :type => "text", :width =>"30"}/
            %span.input-group-btn
              %button.btn.btn-warning{:type => "submit", :title => "Search"} Search

      .navbar-right
        .btn-group.navbar-btn
          %button.btn.btn-default.dropdown-toggle{"aria-expanded" => "false", "data-toggle" => "dropdown", :type => "button"}
            = current_user.name
            %span.caret
          %ul.dropdown-menu{:role => "menu"}
            %li
              %a{:href => user_path} Profile
            %li
              %a{:href => "#"} Account
            %li= link_to "Log out", destroy_user_session_path, :method => :delete
      
    / /.navbar-collapse
  / /.container-fluid