<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>Cover Template for Bootstrap</title>

    <!-- Bootstrap core CSS -->
    <link href="../../assets/stylesheets/bootstrap.min.css" rel="stylesheet">
    <link href="../../assets/stylesheets/style.css" rel="stylesheet">


    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>
    <nav class="navbar navbar-default navbar-static-top" role="navigation">
      <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <div class="navbar-brand" href="#">Charihub</div>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            <li class="active"><a href="#">Home</a></li>
            <li><a href="#">About</a></li>
          </ul>
          
          <form class="navbar-form navbar-right" role="login">
            <div class="form-group">
              <input type="text" class="form-control" placeholder="Email">
              <input type="password" class="form-control" placeholder="Password">
            </div>
            <button type="submit" class="btn btn-default">Sign in</button>
          </form>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>

    <section id="intro">
      <img src="holder.js/200x200" alt="logo" />
      <h1>Portal Sharing</h1>
      <button type="button" class="btn btn-success btn-lg" data-toggle="modal" data-target="#signIn">Join now</button>
      <p class="small">or <a href="#">Sign in</a>


    </section>
      <!-- Modal -->
      <div class="modal fade" id="signIn" tabindex="-1" role="dialog" aria-labelledby="joinNow" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
              <h4 class="modal-title" id="myModalLabel">Join now!</h4>
            </div>
            <div class="modal-body">
              <form class="form-horizontal" role="form">
                <div class="form-group">
                  <label for="joinName" class="col-sm-4 control-label">Name</label>
                  <div class="col-sm-6">
                    <input type="text" class="form-control" id="joinName" placeholder="Name">
                  </div>
                </div>
                <div class="form-group">
                  <label for="joinEmail" class="col-sm-4 control-label">Email</label>
                  <div class="col-sm-6">
                    <input type="email" class="form-control" id="joinEmail" placeholder="Email">
                  </div>
                </div>
                <div class="form-group">
                  <label for="joinPW" class="col-sm-4 control-label">Password</label>
                  <div class="col-sm-6">
                    <input type="password" class="form-control" id="joinPW" placeholder="Password">
                  </div>
                </div><div class="form-group">
                  <label for="joinRePW" class="col-sm-4 control-label">Retype password</label>
                  <div class="col-sm-6">
                    <input type="password" class="form-control" id="joinRePW" placeholder="Retype password">
                  </div>
                </div>
                <div class="form-group">
                  <div class="col-sm-offset-4 col-sm-10">
                    <button type="submit" class="btn btn-primary btn-lg">Sign in</button>
                  </div>
                </div>
              </form>

            </div>
          </div>
        </div>
      </div>

    <section id="section2">
      <img src="holder.js/200x200" alt="logo" />
      <h1>Place for finding help</h1>
      <p>Help can come from anywhere, but sometimes you don't know how to find it. Imagine where we can share our difficulties and find someone that can help us.</p>
    </section>

    <section id="intro-slide">
      <h1>What Charihub do?</h1>
      <div id="intro-carousel" class="carousel slide" data-ride="carousel">
        <!-- Indicators -->
        <ol class="carousel-indicators">
          <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
          <li data-target="#carousel-example-generic" data-slide-to="1"></li>
        </ol>

        <!-- Wrapper for slides -->
        <div class="carousel-inner" role="listbox">
          <div class="item active">
            <img src="holder.js/600x300" alt="Slide1">
            <div class="carousel-caption">
              Awesome
            </div>
          </div>
          <div class="item">
            <img src="holder.js/600x300" alt="Slide2">
            <div class="carousel-caption">
              Slide2
            </div>
          </div>
        </div>

        <!-- Controls -->
        <a class="left carousel-control" href="#intro-carousel" role="button" data-slide="prev">
          <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#intro-carousel" role="button" data-slide="next">
          <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>
    </section>

    <div class="container">
    <hr>
    <footer id="mainFooter" class="text-muted">
      Copyright &copy; 2014 Plummy
    </footer>
    </div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="../../assets/javascripts/bootstrap.min.js"></script>
    <script src="../../assets/javascripts/holder.js"></script>

  </body>
</html>
